#define MIRYOKU_THUMBCOMBOS_TERM 200


#define MIRYOKU_THUMBCOMBOS_LEFT 30 31
#define MIRYOKU_THUMBCOMBOS_RIGHT 32 33

#define MIRYOKU_THUMBCOMBOS_MACRO(LAYER, POSITION, BINDING) \
thumbcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_THUMBCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_THUMBCOMBOS_TERM>; \
};


/ {
  combos {
    compatible = "zmk,combos";

    MIRYOKU_THUMBCOMBOS_MACRO(BASE, LEFT, &lt MEDIA ESC)
    MIRYOKU_THUMBCOMBOS_MACRO(EXTRA, LEFT, &lt MEDIA ESC)
    MIRYOKU_THUMBCOMBOS_MACRO(TAPL, LEFT, &lt MEDIA ESC)
    
    MIRYOKU_THUMBCOMBOS_MACRO(BUTTON, LEFT, U_BTN3)
    MIRYOKU_THUMBCOMBOS_MACRO(NUMBER, LEFT, &kp DOT)
    MIRYOKU_THUMBCOMBOS_MACRO(SYMB, LEFT, &kp LPAR)
    MIRYOKU_THUMBCOMBOS_MACRO(FUNC, LEFT, &kp K_APP)

    MIRYOKU_THUMBCOMBOS_MACRO(BASE, RIGHT, &lt FUNC DEL)
    MIRYOKU_THUMBCOMBOS_MACRO(EXTRA, RIGHT, &lt FUNC DEL)
    MIRYOKU_THUMBCOMBOS_MACRO(TAPL, RIGHT, &lt FUNC DEL)

    MIRYOKU_THUMBCOMBOS_MACRO(BUTTON, RIGHT, U_BTN3)
    MIRYOKU_THUMBCOMBOS_MACRO(NAVI, RIGHT, &kp DEL)
    MIRYOKU_THUMBCOMBOS_MACRO(MOUSE, RIGHT, U_BTN3)
    MIRYOKU_THUMBCOMBOS_MACRO(MEDIA, RIGHT, &kp C_MUTE)

  };
};